<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><h2><b> Hello <%= @agent.name %> </b> </h2> </p>
    <br>
    <p><b>Username is </b> <%= @agent.email %></p>
    <p>
    <b>Password is</b> <%=@agent.email.split('@',2)[0] %>
    
   
  
    </p>
    
  </body>
</html>